/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar styles (You can customize these to match your theme) */
.navbar {
    background-color: #007BFF; /* Navbar background color */
    color: #fff; /* Text color */
    padding: 10px;
    text-align: center;
}

.navbar-logo h1 {
    margin: 0;
    font-size: 24px;
}

/* Cart page styles */
.cart-page {
    padding: 20px;
}

.cart-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Cart items styles */
/* .cart-items {


    


} */

/* Cart item styles */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item img {
    max-width: 100px;
    max-height: 100px;
}

.cart-item h3 {
    font-size: 18px;
    margin: 0;
}

.item-quantity label {
    font-size: 16px;
    margin-right: 10px;
}

.item-quantity input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-total {
    font-size: 18px;
}

.item-remove .remove-button {
    background-color: #ff6347; /* Remove button color */
    color: #fff; /* Text color */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* Cart summary styles */
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-summary p {
    font-size: 18px;
    margin: 0;
}

#total-price {
    font-weight: bold;
    color: #007BFF; /* Total price color */
}

.checkout-button {
    background-color: #007BFF; /* Checkout button color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
