#products{

    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#products>div{
    display: flex;
    height: 200px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   justify-content: space-around;
   text-align: center;
   margin-top: 20px;
}

#products>div>:nth-child(1)>img{
    margin-top: 20px;
    height: 80%;
}