body{
    margin: 0px;
}


#products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
}
.productdiv>img{

    width: 200px;
    height: 250px;
    
}

.productdiv{
    width: 400px;
    text-align: justify;
}