#navbar{
    display: flex;
    justify-content: space-around;
}
#navbar>h1{
    color: red;
}


#container{
   
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
  
}


.productdiv>img{

    width: 200px;
    height: 250px;
    
}

.productdiv{
    width: 400px;
    text-align: justify;
}



#addpform{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    gap: 15px;
    align-items: center;
}

#addpform>input{
    height: 30px;
}